@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width:736px) {
  div.optional {
    display: none;
  }
}

.flash-alert-error {
  position: absolute;
  right: 2rem;
  min-width: 11%;
  margin-top: 1rem;
}

.flash-alert-info {
  position: absolute;
  right: 2rem;
  min-width: 11%;
  margin-top: 1rem;
}
