{% extends '../Layout/layout.html' %}
{% block content %}

<section class="px-5">
  <div class="container py-16 mx-auto rounded-xl">
      <section class="text-gray-700 body-font">
        <div class="container flex flex-col items-center px-5 py-16 mx-auto md:flex-row lg:px-28">
          <div class="flex flex-col w-full pt-0 mb-16 text-left lg:flex-grow md:w-1/2 xl:mr-20 md:pr-24 md:items-start md:mb-0 ">
            <h2 class="mb-1 text-xs font-medium tracking-widest text-blue-500black title-font">Haskell Foundation presents:</h2>
            <h1 class="mb-8 text-2xl font-bold tracking-tighter text-left text-black lg:text-5xl title-font">
              Matchmaker:<br /> Find your open-source soulmate&nbsp;<💜>
            </h1>
            <div class="flex flex-wrap -mx-4 -mt-4 -mb-10 sm:-m-4 ">
              <div class="flex flex-col items-start p-4 mb-6 text-left md:w-1/2 md:mb-0">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-5 text-black bg-gray-200 rounded-full">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18"
                    height="18" fill="currentColor">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M14 10h-4v4h4v-4zm2 0v4h3v-4h-3zm-2 9v-3h-4v3h4zm2 0h3v-3h-3v3zM14 5h-4v3h4V5zm2 0v3h3V5h-3zm-8
                        5H5v4h3v-4zm0 9v-3H5v3h3zM8 5H5v3h3V5zM4 3h16a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1z" />
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="mb-3 text-lg font-medium tracking-tighter text-gray-700 title-font">
                    Maintainer?
                  </h2>
                  <p class="text-base leading-relaxed">
                    Broadcast your calls to potential contributors
                  </p>
                  <a href="#"
                    class="inline-flex items-center font-semibold text-blue-700 md:mb-2 lg:mb-0 hover:text-blue-400 ">
                    Register your project
                    <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      width="20" height="20" fill="currentColor">
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path
                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                    </svg>
                  </a>
                </div>
              </div>
              <div class="flex flex-col items-start p-4 mb-6 text-left md:w-1/2 md:mb-0">
                <div class="inline-flex items-center justify-center flex-shrink-0 w-12 h-12 mb-5 text-black bg-gray-200 rounded-full">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18"
                    height="18" fill="currentColor">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                      d="M21 3a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18zM11 13H4v6h7v-6zm9 0h-7v6h7v-6zm-9-8H4v6h7V5zm9 0h-7v6h7V5z" />
                  </svg>
                </div>
                <div class="flex-grow">
                  <h2 class="mb-3 text-lg font-medium tracking-tighter text-gray-700 title-font">
                    Contributor?
                  </h2>
                  <p class="text-base leading-relaxed">
                    Find open-source projects that need your help, on the topic that <em>you</em> want.
                  </p>
                  <a href="#"
                    class="inline-flex items-center font-semibold text-blue-700 md:mb-2 lg:mb-0 hover:text-blue-400 ">
                    Explore the projects
                    <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                      width="20" height="20" fill="currentColor">
                      <path fill="none" d="M0 0h24v24H0z" />
                      <path
                        d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-5/6 lg:max-w-lg md:w-1/2">
          <img class="object-cover object-center rounded-lg " alt="hero"
            src="https://dummyimage.com/720x600/F3F4F7/8693ac">
        </div>
      </section>
  </div>
</section>
{% endblock %}
